.custom-bigcard {
  width: 100%;
}

.custom-bigcard img {
  width: 100%;
  height: 65vh;
  object-fit: cover;
}

.custom-bigcard ion-card-header {
  justify-content: center;
  align-items: flex-start;
  padding: 5px 15px;
}

.custom-bigcard ion-card-title {
  font-size: 18px;
  white-space: nowrap;
}
