<ion-header [translucent]="true" animated="false">
  <ion-toolbar>
    <ion-title>Anime Downloader</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Anime Downloader</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item-divider>
    <ion-label>Anime Detail</ion-label>
  </ion-item-divider>

  <ion-row>
    <ion-card class="title-section">
      <div class="image">
        <img alt="Film Poster" src="{{filmData.thumb || 'assets/img/card-media.png'}}" />
      </div>
      <ion-card-header>
        <ion-card-title>{{filmData.detail.judul}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-chip>
          <ion-icon name="star"></ion-icon>
          <ion-label>{{filmData.detail.skor}}</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>{{filmData.detail.total_episode}} Episode</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>{{filmData.detail.status}}</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>

    <ion-card class="episode-section">
      <ion-card-header>
        <ion-card-title>Episode List</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list class="episode-list">
          <ion-item button *ngFor="let item of episodeList" (click)="parseDownload(item.episode_endpoint)">
            <div slot="start">
              <ion-icon name="film"></ion-icon>
            </div>
            <ion-label>{{item.episode_title}}</ion-label>
            <div slot="end">
              <ion-icon name="cloud-download-outline"></ion-icon>
            </div>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
