/*.custom-card {
  width: 10.5em;
  height: 13em;
}*/

.custom-card {
  width: 145px;
}

.custom-card img {
  width: 100%;
  height: 10.5em;
  object-fit: cover;
}

.custom-card ion-card-header {
  justify-content: center;
  align-items: center;
  height: 0px;
  padding: 15px;
}

.custom-card ion-card-title {
  font-size: 17px;
  white-space: nowrap;
}
